#signup-app {
  background: url("https://www.xmple.com/wallpaper/purple-gradient-blue-linear-1920x1080-c2-87cefa-da70d6-a-195-f-14.svg");
  min-height: 100vh;
  overflow: auto;
}

.signup-form {
  margin: 40px 0;
}

.error-message{
  text-align: center;
  margin: 10px 0 0 0;
  color: #c10000;
}

.success-message{
  text-align: center;
  margin: 10px 0 0 0;
  color: #186c00;
}